body{
    background-color: tan;
}
div.header{
    text-align: center;
    padding-top: 100px;
    font-family: "Comic Sans MS";
}
div.output{
    text-align: center;
}
#box{
    padding: 10px 320px;
    border: 2px solid navy;
    border-radius: 4px;
    text-align: center;
}
div.push{
    text-align: center;
    padding-top: 15px;
}
#butt{
    text-align: center;
    padding: 20px;
}

